* {
  margin: 0px;
  padding: 0px;
}
body {
  font-size: 120%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden
}

img {
    max-width: 100%;
    max-height: 100%;
}

.header {
  width: 30%;
  margin: 50px auto 0px;
  color: white;
  font-family:'Roboto';
  background: #2f3640;
  text-align: center;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}

form, .content {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  background: #dcdde1;
  border-radius: 0px 0px 10px 10px;
}

.input-group {
  margin: 10px 0px 10px 0px;
}

.input-group input {
  background: white;
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border: 0px solid gray;
}

.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #2f3640;
  border: none;
  border-radius: 5px;
}

.error {
  width: 92%;
  margin: 0px auto;
  padding: 10px;
  border: 1px solid #a94442;
  color: #a94442;
  background: #f2dede;
  border-radius: 5px;
  text-align: left;
}

.success {
  color: #3c763d;
  background: #dff0d8;
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}

#signUpBackgroundDiv {
  color: var(--primary-color);
  width: 100%;
  height: 100%;
  position: relative;
}

#formDiv {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 100%;
}
