body {
  font-family: Arial, Helvetica, sans-serif;
}

textarea {
  width: 95%;
}
.header {
  width: 100%;
  color: white;
  font-family:'Roboto';
  background: #2f3640;
  text-align: center;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.everythingButTheHeader {
  padding: 15px;
  width: 100%;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.input-group {
  margin: 10px 0px 10px 0px;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    width: 50%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 10px;
}

.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #2f3640;
  border: none;
  border-radius: 5px;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
